@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #111827; /* Slate-900 fallback */
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}
